@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #4A4E69;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4A4E69;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* Add animation delay for consecutive items */
.fade-in:nth-child(2) {
  transition-delay: 0.2s;
}
.fade-in:nth-child(3) {
  transition-delay: 0.4s;
}
.fade-in:nth-child(4) {
  transition-delay: 0.6s;
}